/* Website Styles */

* {
  font-size: 100%;
  margin: 0;
  line-height 1;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  background-repeat: repeat;
  font-size: 33px;
  background-color: maroon;
  color: red;
  text-align: left;
}

h1 {
  font-size: 45px;
  color: darkred;
  text-align: center;
}

header h1 {
  text-align: center;
}

h2 {
  font-size: 30px;
  color: white;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h3 {
  font-size: 50px;
  color: red;
  font-family:'Dancing Script', cursive;
}

h4 {
  font-size:30px;
  color: white;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1,h2,h3 {
  margin bottom: 20px;
  font-weight: 900;
  font-style: italic;
}

ul, ol {
  margin: 15px 0;
  text-align: left;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height 2;
  margin: 15px 0;
}

header,
section,
footer {
  padding: 30px;
}

header {
  border-bottom: 0;
}

section {
  border: 50px forestgreen;
  background-color: lightgrey;
  margin: 50px;
  padding: 40px;
}

img {
  height: 300px;
  width:  300px;
}

.title {
  font-size: 48px;
  text-decoration: underline;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.banner {
  height: 350px;
  background-image: url(images/oldredfruit.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.banner h1{
  padding-top: 150px;
}
